<!--contact start-->
  <section id="contact" class="contact-section pad-from-navbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 scrollReveal sr-bottom">
          <h2 class="center-title">Contact</h2>
          <div class="center-border"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 offset-md-1 scrollReveal sr-left">
          <div class="contact-details">
            <p class="lead"><%= @contact.address_line_1 %>, <br> <%= @contact.address_line_2 %>, <br> <%= @contact.city_state_zip %> <br> <%= number_to_phone(@contact.phone_number, delimiter: ".") %></p>
            <p class="lead"><%= @contact.email_address %></p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company-beta/3277007/" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/forefrontstructural/" target="_blank"><i class="ion-social-instagram-outline"></i></a>
              </li>
            </ul>
          </div><!--contact detail-->

        </div><!--form col end-->
        <div class="col-md-5 offset-md-1 scrollReveal sr-right sr-delay-1">
          <%= @contact.map_embed.html_safe %>
        </div><!--contact detail col end-->
      </div>
    </div>
  </section>
<!--contact end-->
