<!--footer start-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div id = "footer-xs-no-padding" class="offset-md-3 col-md-6" align="center">
        <ul class="list-inline">
          <li class="list-inline-item footer-item"><%= link_to "Home", refinery.root_path, data:{turbolinks:false} %></li>
          <li class="list-inline-item footer-item"><%= link_to "About", Rails.application.routes.url_helpers.about_path %></li>
          <li class="list-inline-item footer-item"><%= link_to "Projects", refinery.projects_projects_path %></li>
          <li class="list-inline-item footer-item"><%= link_to "News", refinery.articles_path %></li>
          <li class="list-inline-item footer-item"><%= link_to "Team", refinery.team_members_path %></li>
          <li class="list-inline-item footer-item"><%= link_to "Contact", Rails.application.routes.url_helpers.contact_path %></li>
        </ul>
      </div>
      <div id="copyright" class="col-md-3" align="right">
        <ul class="list-inline">
          <li class="footer-item">&copy; Copyright 2017</li>
        </ul>
      </div>
      <!-- <div class="col-md-6"></div> -->
  </div><!--row-->
</div><!--container-->
</footer>
<!--footer end-->

<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->
